<h1>Cadastrar novo exercício</h1>
<form action="/exercicios" method="POST">
    <label for="exercicio">Tipo de Treino:</label> 
    <select class="form-control" id="exercicio" name="exercicio" required>
        <option value="Braço">Braço</option>
        <option value="Perna">Perna Completo</option>
        <option value="Ombro e Abdomen">Ombro e Abdomen</option>
        <option value="Costas">Costas</option>
        <option value="Peito">Peito</option>
    </select>
    <div class="form-group">
        <label for="repeticao">Repetições:</label>
        <input type="number" class="form-control" id="repeticao" name="repeticao" required>
    </div>
    <div class="form-group">
        <label for="serie">Séries:</label>
        <input type="number" class="form-control" id="serie" name="serie" required>
    </div>
    <div class="form-group">
        <label for="duracao">Duração:</label>
        <input type="time" class="form-control" id="duracao" name="duracao" required>
    </div>
    <div class="form-group">
        <label for="aplicabilidade">Aplicabilidade:</label>
        <input type="text" class="form-control" id="aplicabilidade" name="aplicabilidade" required>
    </div>
    <div class="form-group">
        <label for="musicas">Música:</label>
        <select class="form-control" id="musicas" name="musicas" required>
            <% musicas.forEach(musica => { %>
                <option value="<%= musica.id %>"><%= musica.nome %></option>
            <% }) %>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
