<h1>Editar exercício</h1>
<form action="/exercicios/<%= exercicio.id %>?_method=PUT" method="POST">
    <!-- Replicar os mesmos campos do formulário de criação, mas preenchidos com os valores de `exercicio` -->
</form>
