<div class="jumbotron text-center">
    <h1>Bem-vindo ao Sistema de Gerenciamento de Usuários</h1>
    <p class="lead">Gerencie seus usuários e exercícios sem esforço.</p>
    <a href="/users" class="btn btn-custom">Gerenciar usuários</a>
    <a href="/exercicios" class="btn btn-custom ml-2">Gerenciar exercícios</a>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="feature-card">
            <h3>Gerenciamento de usuários</h3>
            <p>Adicione, edite e exclua usuários facilmente.</p>
            <a href="/users" class="btn btn-primary">Ir para usuários</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="feature-card">
            <h3>Gerenciamento de exercícios</h3>
            <p>Acompanhe seus exercícios de perto.</p>
            <a href="/exercicios" class="btn btn-primary">Is para exercicios</a>
        </div>
    </div>
</div>
</div>