<form action="/musicas" method="POST">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required><br>

    <label for="genero1">1º Gênero:</label> 
    <select class="form-control" id="genero1" name="genero1" required>
        <option value="1">Pop</option>
        <option value="2">Rock</option>
        <option value="3">Hip Hop/Rap</option>
        <option value="4">Eletrônica/Dance (EDM)</option>
        <option value="5">R&B</option>
        <option value="6">Country</option>
        <option value="7">Reggae</option>
        <option value="8">Jazz</option>
        <option value="9">Clássica</option>
        <option value="10">Heavy Metal</option>
        <option value="11">Blues</option>
        <option value="12">Latina (Reggaeton, Salsa, Bachata, etc.)</option>
        <option value="13">Funk</option>
    </select>

    <div>
        <button type="submit">Criar Música</button>
    </div>
</form>
