<form action="/musicas" method="POST">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required><br>

    <label for="genero1">1º Gênero:</label> 
    <select class="form-control" id="genero1" name="genero1" required>
        <option value="Pop">Pop</option>
        <option value="Rock">Rock</option>
        <option value="Hip-Hop/Rap">Hip-Hop/Rap</option>
        <option value="Eletrônica/Dance-(EDM)">Eletrônica/Dance-(EDM)</option>
        <option value="R&B">R&B</option>
        <option value="Country">Country</option>
        <option value="Reggae">Reggae</option>
        <option value="Jazz">Jazz</option>
        <option value="classica">Classica</option>
        <option value="Heavy-Metal">Heavy-Metal</option>
        <option value="Blues">Blues</option>
        <option value="Latina-(Reggaeton,Salsa,Bachata,etc.)">Latina-(Reggaeton,Salsa,Bachata,etc.)</option>
        <option value="Funk">Funk</option>
    </select>
    <label for="genero2">2º Gênero:</label> 
    <select class="form-control" id="genero2" name="genero2" required>
        <option value="Pop">Pop</option>
        <option value="Rock">Rock</option>
        <option value="Hip-Hop/Rap">Hip-Hop/Rap</option>
        <option value="Eletrônica/Dance-(EDM)">Eletrônica/Dance-(EDM)</option>
        <option value="R&B">R&B</option>
        <option value="Country">Country</option>
        <option value="Reggae">Reggae</option>
        <option value="Jazz">Jazz</option>
        <option value="classica">Classica</option>
        <option value="Heavy-Metal">Heavy-Metal</option>
        <option value="Blues">Blues</option>
        <option value="Latina-(Reggaeton,Salsa,Bachata,etc.)">Latina-(Reggaeton,Salsa,Bachata,etc.)</option>
        <option value="Funk">Funk</option>
    </select>
    <label for="genero3">3º Gênero:</label> 
    <select class="form-control" id="genero3" name="genero3" required>
        <option value="Pop">Pop</option>
        <option value="Rock">Rock</option>
        <option value="Hip-Hop/Rap">Hip-Hop/Rap</option>
        <option value="Eletrônica/Dance-(EDM)">Eletrônica/Dance-(EDM)</option>
        <option value="R&B">R&B</option>
        <option value="Country">Country</option>
        <option value="Reggae">Reggae</option>
        <option value="Jazz">Jazz</option>
        <option value="classica">Classica</option>
        <option value="Heavy-Metal">Heavy-Metal</option>
        <option value="Blues">Blues</option>
        <option value="Latina-(Reggaeton,Salsa,Bachata,etc.)">Latina-(Reggaeton,Salsa,Bachata,etc.)</option>
        <option value="Funk">Funk</option>
    </select>
    <div class="form-group">
        <label for="userId">Usuário:</label>
        <select class="form-control" id="userId" name="userId" required>
            <% users.forEach(user => { %>
                <option value="<%= user.id %>"><%= user.username %></option>
            <% }) %>
        </select>
    </div>    
    
    <br>
    <div>
        <button type="submit">Criar Música</button>
    </div>
</form>
