<h1>Cadastrar nova Venda</h1>

<form action="/vendas" method="post">
    <div class="form-group">
        <label for="id_usuario">Usuário:</label>
        <select class="form-control" id="id_usuario" name="id_users" required>
            <% usuarios.forEach(user => { %>
                <option value="<%= user.id %>"><%= user.username %></option>
            <% }) %>
        </select>
    </div>

    <div class="form-group">
        <label for="id_produto">Produto:</label>
        <select class="form-control" id="id_produto" name="id_produto" required>
            <% produtos.forEach(produto => { %>
                <option value="<%= produto.id %>"><%= produto.nome %></option>
            <% }) %>
        </select>
    </div>

    <div class="form-group">
        <label for="precototal">Valor:</label>
        <input type="number" class="form-control" id="precototal" name="precototal" required step="0.01">
    </div>

    <div class="form-group">
        <label for="quantidade">Quantidade:</label>
        <input type="number" class="form-control" id="quantidade" name="quantidade" required>
    </div>

    <div class="form-group">
        <label for="data">Data:</label>
        <input type="date" class="form-control" id="data" name="data" required>
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>