<h1>Detalhes do Produto</h1>
<p>ID: <%= produto.id %></p>
<p>Nome do Produto: <%= produto.produtoname %></p>
<p>Quantidade: <%= produto.produtoquant %></p>
<p>Preço: <%= produto.produtopreco %></p>
<a href="/produtos" class="btn btn-primary">Voltar para a Lista</a>
